ul {
    display: flex;
    list-style: none;
    margin-top:5px;
    margin-bottom: 1.2rem;
    border-bottom: 1px solid #2b87aa;
    padding: 0 1rem;
}

    ul > li > a {
        font-size: 0.9rem;
        color: #2b87aa;
        font-weight: bold;
        padding: 0.4rem 0.5rem;
        text-decoration: none;
        cursor: pointer;
        display: block;
        top: 2px;
        position: relative;
    }

.active {
    color: #3cbff1;
    border: 1px solid #2b87aa;
    border-bottom: 2px solid white;
    border-radius: 0.5rem 0.5rem 0 0;
}

h1 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #1b1b1b;
    margin-top:32px;
}

table {
    display: block;
    overflow-x: auto;
    margin-top: 1.2rem;
    border-bottom: 1px solid #0d90ba;
    max-width: 100%;
    position: relative;
}

    table td:first-child, th:first-child {
        min-width: 150px;
        text-align: left;
    }

    table td:nth-child(2), th:nth-child(2) {
        min-width: 90px;
        text-align: left;
    }

    table td:nth-child(3), th:nth-child(3) {
        min-width: 90px;
        text-align: left;
    }

    table td:nth-child(4), th:nth-child(4) {
        min-width: 100px;
        text-align: left;
    }

    table td:nth-child(5), th:nth-child(5) {
        min-width: 180px;
        text-align: left;
    }

    table td:nth-child(6), th:nth-child(6) {
        min-width: 150px;
        text-align: left;
    }


    table td:nth-child(7), th:nth-child(7) {
        min-width: 140px;
        text-align: left;
    }

    table td:last-child, th:last-child {
        min-width: 130px;
        text-align: left;
    }

    table tr:nth-child(2n) {
        background: #def6ff;
    }

    table > thead {
        border-bottom: 1px solid #0d90ba;
        max-width:100%;
    }

        table > thead > tr > th {
            font-size: 1rem;
            color: #0d90ba;
            padding: 0.5rem;
            text-align: center;
        }

    table > tbody > tr {
        cursor: pointer;
    }

        table > tbody > tr:last-child {
            border: none;
        }

    table td {
        padding: 0.5rem;
        font-weight: bold;
        font-size: 0.9rem;
        color: #3cbff1;
    }

td:last-child, th:last-child {
    border: none;
}

table > tbody > tr > td:last-child {
    text-align: center;
}

.emptyTable {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 5rem;
}

    .emptyTable::before {
        content: "No items found!";
        position: absolute;
        width: 100%;
        height: calc(100% - 42px);
        top: 42px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #a0a0a0;
        font-weight: bold;
        line-height: 4;
    }
